{% load static %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Search - MovieTogether</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }
  </style>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<header>
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav0" aria-controls="navbarNav0" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav0">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://172.22.94.219/polls">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/search/">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/wishlist">WishList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/profile">User</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
{% load static %}
<section class="fdb-block" style="background-image: url({% static 'polls/imgs/poster1.jpg' %})">
<div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
          <div class="fdb-box">
            <div class="row">
              <div class="col">
                <h1>Log In</h1>
                <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Duden.</p>
              </div>
            </div>
            <div class="row">
              <div class="col mt-4">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="btn" type="button"> <a  href="{% url 'mainboard' %}">Submit </a></button>
              </div>
              <div class="col">
                <button class="btn" type="button"> <a  href="{% url 'profile' %}">Sign Up </a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h1>Movie Together</h1>
        <p class="text-h3">MovieTogether will recommend the most possibly interesting movies for the registered movie chasers. Meanwhile, our application will also push the nearby people who have the same interests on the same movie.</p>

        <img alt="image" class="img-fluid mt-5" src="{% static 'polls/imgs/poster1.jpg' %}">
      </div>
    </div>

    <div class="row text-left pt-5">
      <div class="col-12 col-md-6">
        <h3><strong>Feature One</strong></h3>

        <p>(Movie recommendation): Based on the movies that you have watched, MovieTogether would recommend new movies for you. Think about the embarrassment when you finally have a hard-won Saturday night which you really want some real fun to spend the good time. It is great you do not to waste the time to find ideal movies. It is even greater that you do not need to bear the risk to waste your rare unoccupied Saturday night with some thing you do not really like. Just use MoviewTogether and enjoy! Let MovieTogether solve all these problems for you. MoviewTogether will use machine learning algorithm to analyze your history and predict the potential movies you will like and suggest them to you.</p>

        <p><a href="https://www.froala.com">Learn More &gt;</a></p>
      </div>
      <div class="col-12 col-md-6 pt-4 pt-md-0">
        <h3><strong>Feature Two</strong></h3>

        <p> (Movie together): Once you add a new movie to your wishlist. We will recommend you the nearby users who also put this movie into the wish list and have similar time preference as you. Once you found the suggestion, you could start a private chatting with that user and go for that movie together! This is a great opportunity to meet new friends with similar interests!</p>

        <p><a href="https://www.froala.com">Learn More &gt;</a></p>
      </div>
    </div>
  </div>
</section>
{% block javascript %}
<script>
  function userlogin(val1,val2,val3) {
    console.log("userlogin!");
    console.log(val1)
    console.log(val2)
    console.log(val3)
    $.ajax({
      url: '/polls/profileupdate/',
      data: {
        'username': val1,
        'userpassword' : val2
      },
      success: function (data) {

        $("html").html(data);
      }
  })
};
</script>
{% endblock %}
