{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Profile - MovieTogether</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }
  </style>
</head>
<header>
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav0" aria-controls="navbarNav0" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav0">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://172.22.94.219/polls">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/search/">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/wishlist">WishList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://172.22.94.219/polls/profile">User</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>


{% if user_info %}
<section class="fdb-block pt-0">
    <div class="container-fluid p-0 pb-md-5">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-5">
          <h2>Sign Up</h2>
          <p class="text-h3">
            Join us. Share your movie interests. Find new friend to GoMovieTogether. We will recommand friend to you based on your interests.
          </p>

          <p class="text-h3">
            Watch movie with making new friend.
          </p>


          <p class="text-h3 mt-5">
            <strong>Email:</strong> <a href="http://172.22.94.219/polls">customer@movietogether.com</a>
          </p>
          <p class="text-h3">
            <strong>Phone:</strong> <a href="http://172.22.94.219/polls">+1 888 888 8888</a>
          </p>
        </div>

        <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
          <form>

            <div class="row mt-4">
              <div class="col">
                <input type="text" id = "username" class="form-control" placeholder="Input username">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" id = "password1" class="form-control"  placeholder="Input password">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" id = "password2" class="form-control"  placeholder="Confirm password">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="text" id = "usergender" class="form-control" placeholder="Gender">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" id = "userlocation" class="form-control"  placeholder="Location">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type="button" class="btn" onclick="profileFunction(document.getElementById('username').value,document.getElementById('password1').value,document.getElementById('password2').value,document.getElementById('usergender').value,document.getElementById('userlocation').value)">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endif %}



{% block javascript %}
  <script>
    function profileFunction(username,password1,password2,gender,location) {
      console.log("profile!");
      console.log(username)
      console.log(password1)
      console.log(password2)
      console.log(gender)
      console.log(location)
      $.ajax({
        url: '/polls/singup/',
        data: {
          'username': username,
          'password1' : password1,
          'password2' : password2,
          'gender' : gender,
          'location' : location
        },
        success: function (data) {
          if("notvalid" in data ){
            alarm("Username exists or password not match! Please retry");
          }else{
            $("html").html(data);
          }

        }
    })
  };
  </script>
{% endblock %}
